<script type="text/javascript">
    window.initialData = <%- JSON.stringify(initialData) -%>
</script>

<%- include('partials/header') -%>
    <div id="root"><%- initialMarkup -%></div> <!-- helps with server side rendering -->
<%- include('partials/footer') -%>
